# Different Ways of Creating Dataframe

Today:
1. Using CSV
2. Using Excel
3. From python dictionary
4. From list of tuples
5. From list of dictionaries

In [11]:
#Using CSV

import pandas as pd
df = pd.read_csv("7-3_weather_data.csv")
df

        day  temperature  windspeed  event  Unnamed: 4
0  1/1/2017           32          6   Rain         NaN
1  1/2/2017           35          7  Sunny         NaN
2  1/3/2017           28          2   Snow         NaN

**read_csv()** is a method that will read something into csv.

In [12]:
#Using Excel

df = pd.read_excel("7-3_weather_data.xlsx","Sheet1")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [13]:
# Using a dictionary. Each of the keys represent a column in the data frame.

weather_data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [14]:
#Using a list of tuples. Each element in the list is a tuple. Each of these will be a row in the data frame.
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]

#When you create a data frame this way, you need to provide column names.

df = pd.DataFrame(weather_data, columns=["day","temperature","windspeed","event"])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [15]:
#Using a list of dictionaries. Difference with this and just using a dictionary is that
#in the dictionary method, each key had a row of values. 
#Here, each element in the list represents one row with the column specification.

weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
]

df = pd.DataFrame(weather_data)
df

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2